* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  line-height: 1.5;
}

.page-content {
  margin: 25px 10px 15px 15px;
  vertical-align: top;
}

.page-content hr {
  margin: 15px 0px 0px 15px;
}

h1, h2, h3, h4 {
  text-transform:uppercase;
  margin: 10px 0 10px 0;
}

h3 { margin-left: 10px; } 
h4 { margin-left: 20px; } 

a,
a:visited {
  color: #000;
}

.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

p {
  margin-bottom: 5px;
}

ul {
  margin: 0 0 0 40px;
}

footer {
  margin: 15px 0 15px 0;
  text-align: center;
}

pre {
  display: inline-block;
  background-color: #ddd;
  margin: 10px 0 10px 50px;
  padding: 10px;
}

footer ul li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}

