---
layout: default
---

<div class="blog-index">
  {% for post in site.posts %}
    <div class="blog-index__item">
      <h2 class="blog-index__item-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p class="blog-index__item-excerpt">{{ post.excerpt | strip_html }}</p>
      <div class="blog-index__item-meta">
        {% for author in post.authors %}
        <span><a href="{{ author.link }}">{{author.name}}</a></span>
        {% endfor %}
        <span>{{ post.date | date: "%-d %B %Y"}}</span>
      </div>
      <hr>
    </div>
  {% endfor %}

  <div class="blog-index__footer"><a href="/atom.xml" target="_blank">RSS</a></div>
</div>
