---
layout: default
---

<div class="main">
  <section class="main__header">
    <p>Pixelated combines the usefulness of modern email with the in-person privacy of modern cryptography.</p>
  </section>

  <section class="main__video">
    <p>What is this?</p>
    {% include icons/play-circle.svg %}

  </section>

  <section class="main__contribution">
    <p>Help us build an internet where privacy matters, one step at a time.</p>

    <div class="text-center">
      <button>Contribute</button>
    </div>
  </section>
</div>

<div class="sidebar">
  <ul>
    <li><a href="/">{% include icons/github-square.svg %}</a></li>
    <li><a href="/">{% include icons/twitter-square.svg %}</a></li>
    <li><a href="/">{% include icons/envelope-square.svg %}</a></li>
    <li><a href="/">{% include icons/comments-o.svg %}</a></li>
    <li><a href="/">{% include icons/slack.svg %}</a></li>
  </ul>
</div>
