---
layout: default
---

<div class="main">
  <section class="main__header">
    <p>Pixelated combines the usefulness of modern email with the in-person privacy of modern cryptography.</p>
  </section>

  <section class="main__video">
    <p>What is this?</p>
    {% include icons/play-circle.svg %}

  </section>

  <section class="main__contribution">
    <p>Help us build an internet where privacy matters, one step at a time.</p>

    <div class="text-center">
      <button>Contribute</button>
    </div>
  </section>
</div>

<div class="sidebar">
  <ul>
    <li><a href="https://github.com/pixelated/" target="_blank" title="pixelated on Github">{% include icons/github-square.svg %}</a></li>
    <li><a href="https://twitter.com/pixelatedteam" target="_blank" title="@pixelatedteam on twitter">{% include icons/twitter-square.svg %}</a></li>
    <li><a href="mailto:team@pixelated-project.org" target="_blank" title="team@pixelated-project.org">{% include icons/envelope-square.svg %}</a></li>
    <li><a href="irc://irc.freenode.net/pixelated" title="#pixelated on freenode">{% include icons/comments-o.svg %}</a></li>
    <!-- <li><a href="/">{% include icons/slack.svg %}</a></li> -->
  </ul>
</div>
