.blog-index {
  padding-left: 5%;
  padding-right: 5%;

  @media #{$media-md} {
    padding-left: 15%;
    padding-right: 15%;
  }

  @media #{$media-lg} {
    padding-left: 25%;
    padding-right: 25%;
  }

  &__item {
    &-title {
      font-size: $font-size-r-huge;

      a {
        color: $color-gray-medium;

        &:hover {
          color: darken($color-gray-medium, 20%);
          text-decoration: none;
        }
      }
    }

    &-excerpt {
      font-size: $font-size-r-small;
    }

    &-meta {
      font-size: $font-size-r-tiny;

      span {
        padding: 0 10px;
        border-right: 1px solid $color-gray-medium;

        &:last-child {
          border: none;
        }
      }
    }

    hr {
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba($color-black, 0), rgba($color-black, 1), rgba($color-black, 0));
    }
  }


  &__footer {
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    svg {
      color: $color-gray-medium;
      fill: currentColor;
    }
  }
}
