.blog-post {
  min-height: 100%;

  &__header {
    color: $color-turquoise;
  }

  &__meta {
    font-size: $font-size-r-tiny;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;

    span {
      padding: 0 10px;
      border-right: 1px solid $color-gray-medium;

      &:last-child {
        border: none;
      }
    }
  }

  &__content {
    img {
      display: block;
      width: 100%;

      &[alt=half] {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    }
  }

  &__date {
    font-weight: lighter;
    font-style: italic;
  }

  &__footer {
    text-align: center;
    margin: 10px 0;
  }
}
