.blog-index {
  &__item {
    &-title {
      font-size: $font-size-r-bigger;
      font-weight: 600;

      a {
        color: $color-turquoise;

        &:hover {
          color: darken($color-turquoise, 20%);
        }
      }
    }

    &-excerpt {
      font-size: $font-size-r-base;
    }

    &-meta {
      font-size: $font-size-r-base;

      span {
        padding: 0 10px;
        border-right: 1px solid $color-gray-medium;

        a {
          font-weight: 600;
        }

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          border: none;
          font-size: $font-size-r-small;
        }
      }
    }

    hr {
      border: 0;
      height: 1px;
      margin-top: 30px;
      background-image: linear-gradient(to right, rgba($color-black, 0), rgba($color-gray-medium, 1), rgba($color-black, 0));
    }
  }


  &__footer {
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    svg {
      color: $color-gray-medium;
      fill: currentColor;
    }
  }
}
