.faq {
  $separator-margin: 70px;

  hr {
    border: 0;
    height: 1px;
    margin-top: $separator-margin;
    margin-bottom: $separator-margin;

    background-image: linear-gradient(to right, rgba($color-black, 0), rgba($color-black, 1), rgba($color-black, 0));
  }

  h1, h2, h3, h4 {
    color: $color-turquoise;
  }

  svg {
    width: 100%;
  }
}
