.faq {
  $separator-margin: 70px;

  padding-left: $margin-sm;
  padding-right: $margin-sm;

  @media #{$media-md} {
    padding-left: $margin-md;
    padding-right: $margin-md;
  }

  @media #{$media-lg} {
    padding-left: $margin-lg;
    padding-right: $margin-lg;
  }

  hr {
    border: 0;
    height: 1px;
    margin-top: $separator-margin;
    margin-bottom: $separator-margin;

    background-image: linear-gradient(to right, rgba($color-black, 0), rgba($color-black, 1), rgba($color-black, 0));
  }

  svg {
    width: 100%;
  }
}
