.home {
  background: linear-gradient(to bottom right, $color-orange-dark-transparent 0%, $color-turquoise-dark-transparent 0%, $color-turquoise-dark 100%), url(../icons/hive.svg) no-repeat;
  background-color: $color-turquoise-dark;
  background-repeat: repeat;
  text-align: center;
  color: $color-white;
  min-height: 100%;
  box-sizing: border-box;
  padding: $navbar-height $margin-sm;

  @media #{$media-md} {
    padding: $navbar-height $margin-md 0 $margin-md;
  }

  @media #{$media-lg} {
    padding: $navbar-height $margin-lg 0 $margin-lg;
  }


  &__tagline {
    color: $color-white;
    padding: 50px 0 0 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: $font-size-r-bigger;
    font-weight: bold;
    text-shadow: 0 0 30px $color-white;

    @media #{$media-md} {
      font-size: $font-size-r-bigger;
    }

    @media #{$media-lg} {
      font-size: $font-size-r-huge;
    }
  }

  &__valueprop {
    color: $color-white;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: $font-size-r-mediumbig;

    @media #{$media-md} {
      font-size: $font-size-r-big;
    }

    @media #{$media-lg} {
      font-size: $font-size-r-big;
    }
  }

  &__links {
    font-size: $font-size-r-big;
    margin-top: 20px;

    &--video,
    &--try,
    &--contribute {
      display: block;

      @media #{$media-md} {
        display: inline-block;
        padding: 0 10px;
      }

      @media #{$media-lg} {
        display: inline-block;
        padding: 0 20px;
      }
    }

    &--video,
    &--try {
      a {
        color: $color-white;

        &:hover {
          color: lighten($color-gray-medium, 10%);
        }

        &:focus {
          color: $color-gray-medium;
        }
      }
    }

    &--contribute {
      font-weight: bold;
      text-shadow: 0 0 30px $color-white;
    }

    svg {
      fill: currentColor;
      width: 60px;

      @media #{$media-md} {
        width: 100px;
      }
    }
  }


  &__footer {
    margin: 50px auto 0 auto;
    padding-bottom: 10px;
    font-size: $font-size-r-base;

    @media #{$media-md} {
      font-size: $font-size-r-big;
    }

    @media #{$media-lg} {
      font-size: $font-size-r-big;
    }
  }
}


.sidebar {
  border: 3px solid $color-gray-mediumdark;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: none;
  background-color: rgba($color-turquoise-dark, 0.9);
  padding: 8px;
  position: fixed;
  display: block;

  ul {
    list-style: none;
    margin: 0;

    a {
      color: $color-gray-mediumdark;

      &:hover {
        color: lighten($color-gray-mediumdark, 20%);
      }

      &#navbar-email svg {
        width: 38px;
      }
    }

    li {
      text-align: center;
    }

    svg {
      fill: currentColor;
      width: 43px;
    }
  }

  @media #{$media-sm} {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 0;

    border: none;
    border-top: 3px solid $color-gray-mediumdark;
    border-radius: 0;

    ul {
      li {
        display: inline-block;
        padding: 0 4px;
      }

      a {
        svg {
          width: 36px;
        }
        &#navbar-email svg {
          width: 35px;
        }
      }
    }
  }

  @media #{$media-md}, #{$media-lg} {
    display: block;
    width: 50px;
    left: 0;
    top: 30%;
  }
}
