.main {
  height: 100%;
  padding: 40px;
  background: linear-gradient(to bottom right, $color-orange-dark-transparent 0%, $color-turquoise-dark-transparent 10%, $color-turquoise-dark 100%), url(../icons/hive.svg) no-repeat;
  background-color: $color-turquoise-dark;
  background-repeat: repeat;
  text-align: center;


  &__header {
    height: 300px;
  }


  &__contribution {
    height: 300px;

    button {
    }
  }
}
