---
---

/* Color variables */
$highlight: #FF9C00;
$highlight-dark: #FF7902;
$action: #2BA6CB;
$action-dark: #178CA6;

$background-dark: #3E3A37;
$background-gray: #EEE;
$background-light: #FFF;

$warning: #F7E8AF;
$search-highlight: #FFEF29;

$total_count_bg: #C0B9B9;

$error: #D72A25;
$attention: #F6A40A;
$success: #2DAB49;
$top_pane: #EAEAEA;

$secondary_callout: #FF7902;

#style-guide-wrap {
  font-size: 1rem;

  p {
    font-size: 1rem;
  }
}

img.screenshot {
  max-width: 60%;
  margin: 0 auto;   
  display: block;
}

a.logo-anchor {
  color: white;

  &:hover {
    color: darken(white, 30);
  }
}

ul {
  li {
    display: inline;
  }

  &.typography li {
    display: inline-block;
    text-align: center;
    margin: 20px 10px 0 0;
    padding: 30px;
    min-height: 125px;
    min-width: 130px;
    border: 1px solid #EEE;
    background-color: white;  
    border-radius: 5px;
  }
}

ul.left, ul.right {
  padding: 12px;
  margin: 0px 25px;
  font-weight: bold;
}

ul.right {
  li {
    margin: 8px;
  }
}

section.guide-section {
  display: block;
  height: 100%;
  overflow-y: auto;
  padding: 66px 32px;

  &:nth-child(even) {
    background-color: $top_pane;  
  }

  &:last-child {
    min-height: 666px;
  }
}

.color-card {
  width: 160px;
  height: 230px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 15px;
}

.color-label {
  position: relative;
  top: 173px;
}

.color-label, .typeface-sample {
  background-color: white;
  border: 1px solid #eee;
  text-align: center;
  color: #344a5f;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 0;
}

.color-name {
  font-size: small;
}

/* Color Cards definition */

.color-grid {
  margin-bottom: 25px;
  #highlight-card { background-color: $highlight; }
  #highlight-dark-card { background-color: $highlight-dark; }
  #background-dark-card { background-color: $background-dark; }
  #background-gray-card { background-color: $background-gray; }
  #action-card { background-color: $action; }
  #action-dark-card { background-color: $action-dark; }

  #success-card { background-color: $success; }
  #attention-card { background-color: $attention; }
  #warning-card { background-color: $warning; }
  #error-card { background-color: $error; }
  #search-highlight-card { background-color: $search_highlight; }
  #count-background-card { background-color: $total_count_bg; }
}

/* Typeface cards definition*/
ul.typography li h2 {
  &.bold-header { font-weight: bold; }
  &.extra-bold-header { font-weight: 800; }
  &.lighter-header { font-weight: lighter; }
}

ul.headers-and-sizes {
  margin: 20px 100px 0 0;
  display: inline-block;
}

section#icons i {
  font-size: xx-large;
  margin-right: 20px;
}

ul.typography, ul.headers-and-sizes {
  li {
    list-style: none;
  }
}