html {
  font-family: sans-serif;
  line-height: 1.5;
}

.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

p {
  margin-bottom: 5px;
}

ul {
  margin: 0 0 0 40px;
}

footer {
  margin: 15px 0 15px 0;
  text-align: center;
}

pre {
  margin: .5em 0;
  padding: .5em .7em;
  background-color: #FAFAFA;
  border: 1px solid #CCC;
  border-radius: 3px 3px 3px 3px;
  overflow-x: auto;
}

code {
  font-family: "Menlo", monospace;
  line-height: 1.4em;
  color: #444;
}

footer ul li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}

.project-logo {
  color: #FF9C00;
  font-size: larger;
}

.top-bar {
  top: 50px;
  background-color: #F2F3ED;
}

.top-bar a {
  color: #FF7900;
}

.top-bar a:hover {
  color: #FF9D00;
}

section.guide-section {
  padding: 116px 32px;
}

nav a {
  color: #2BA6CB;
}

nav a:hover {
  color: #52bbda;
}

.active-page {
  border-bottom: 3px solid #52bbda;
  padding-bottom: 3px;
}