---
---

body {
  display: block;
  overflow: scroll !important; 
}

html {
  font-family: sans-serif;
  line-height: 1.5;
}

.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

nav {
  position: fixed;    
  z-index: 10;
  height: 50px;
  width: 100%;
  background-color: #3e3a37;
  color: white;
  opacity: 0.95;
  height: 51px;
  
  a {
    color: #2BA6CB; 
    &:hover {
      color: #52bbda;
    }
  }

  ul li .active-page {
    color: #52bbda;
    border-bottom: 3px solid #52bbda;
    padding-bottom: 3px;
  }
} 

ul {
  margin: 0 0 0 40px;
}

footer {
  margin: 15px 0 15px 0;
  text-align: center;
  padding-bottom: 30px;

  ul li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    vertical-align: top;
  }
}

pre {
  margin: .5em 0;
  padding: .5em 2.5em .7em .5em;
  background-color: #FAFAFA;
  border: 1px solid #CCC;
  border-radius: 3px 3px 3px 3px;
  overflow-x: auto;
  display: inline-block;
}

code {
  font-family: "Menlo", monospace;
  line-height: 1.4em;
  color: #f57300;
}

li.project-logo {
  color: #FF9C00;
  font-size: larger;
  margin: 5px 0 0 0;
}

.top-bar {
  top: 51px;
  left: 0;
  background-color: #F2F3ED;

  a {
    color: #FF7900; 
    &:hover {
      color: #FF9D00;
    }
  }
}

section {
  &.guide-section {
    padding:112px 32px;
    height: 100%;
    overflow: visible;
  }
  
  &.content {
    overflow: visible;
    padding: 62px 32px;
    height: 100%;
  }
  
  &.content-guide {
    display: block;
    overflow: visible;
    padding: 0;
    height: 100%;
  }
}

blockquote {
  border: none;
}

ul li {
  display: list-item;
  list-style: inherit;
  margin-left: 30px;
}

ul.left, ul.right {
  padding: 12px;
  margin: -5px 25px;
  font-weight: bold;
  list-style: none;

  li {
    display: inline-block;
    list-style: none;
  }
} 

.gray {
  color: #C0B9B9;
}