<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/assets/icons/favicon.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pixelated - Modern email with privacy</title>
    <meta name="description" content="Pixelated is a secure, open source email solution with encryption and decentralised hosting.">
    <meta name="viewport" content="width=device-width">

     <!-- OpenGraph Description for Facebook etc. -->
    <meta property="og:title" content="Pixelated" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Pixelated is a secure, open source email solution with encryption and decentralised hosting." />
    <meta property="og:url" content="https://pixelated-project.org/" />
    <meta property="og:image" img src="/assets/images/fb_marca.png" />

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/styles.css" type="text/css">

    <!-- Scripts -->
    <script src="/assets/js/jquery.js" defer></script>
    <script src="/assets/js/jquery.magnificent-popup.js" defer></script>
    <script src="/assets/js/popup.js" defer></script>
    <script src="http://192.168.135.1:8080/piwik.js" defer></script>
    <script src="/assets/js/piwik.js" defer></script>
  </head>

  <body>

    <div class="wrapper">

      {% include nav.html %}
      {{ content }}
    </div>
  </body>
</html>
