<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pixelated Project</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Secure OSS email solution">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/styles.css" type="text/css">
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/stylesheets/opensans.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/stylesheets/foundation.css" type="text/css">
    <link rel="stylesheet" href="/assets/stylesheets/normalize.css" type="text/css">
  </head>

<body>
  <div id="wrapper" data-offcanvas>
    <div class="sticky">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="project-logo"><a href="/"><img src="/assets/images/pixelated-white-small.png"></a></li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class='top-bar-section'>
          <ul class="right">
            <li><a href={% if page.url == '/about/'%} ../{% endif %}#about>ABOUT</a></li>
            <li><a href={% if page.url == '/about/'%} ../{% endif %}#getting-started>GETTING STARTED</a></li>
            <li><a href={% if page.url == '/about/'%} ../{% endif %}#contact>CONTACT</a></li>
          </ul>
        </section>
      </nav>
    </div>
    {{ content }}
  </div>
  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/foundation.js"></script>
  <script src="/assets/js/foundation.top-bar.js"></script>
  <script src="/assets/js/snap.svg-min.js"></script>
  <script src="/assets/js/hive.js"></script>
  <script src="/assets/js/style-guide.js"></script>
  <script>
    $(document).foundation();
    // Hack to make Foundation's top bar work, as simply initializing foundation wasn't working and I couldn't figure out why
    function toggleMenu() {
      var topBar;
      topBar = $('.top-bar');

      if (topBar.hasClass('expanded')) {
        topBar.removeClass('expanded');
      } else {
        topBar.addClass('expanded');
      }
    }
    $('.toggle-topbar').on('click', toggleMenu);
  </script>
</body>
</html>
