<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pixelated Project</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Secure OSS email solution">

    <!-- Custom CSS -->
    <link href="http://sassaas.herokuapp.com/compile?f=https://raw.githubusercontent.com/pixelated-project/pixelated-user-agent/master/web-ui/app/scss/style-guide.scss" rel="stylesheet" type="text/css">
    <link href="http://sassaas.herokuapp.com/compile?f=https://raw.githubusercontent.com/pixelated-project/pixelated-user-agent/master/web-ui/app/scss/main.scss" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/stylesheets/styles.css">
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/stylesheets/opensans.css" rel="stylesheet" type="text/css">
  </head>

<body>

  <div id="style-guide-wrap" data-offcanvas>
      <nav>
        <ul class="left">
            <li class="project-logo">Pixelated Project</li>
        </ul>
        <ul class="right">
          <li><a href="/" {%if page.url == "/" %}class="active-page"{% endif %}>Home</a></li>
          <li><a href="/develop_pixelated/" {%if page.url == "/develop_pixelated/" %}class="active-page"{% endif %}>Develop Pixelated</a></li>
          <li><a href="/style-guide/" {%if page.url == "/style-guide/" %}class="active-page"{% endif %}>Style Guide</a></li>
        </ul>
      </nav>
    <section {%if page.url == "/style-guide/" %}class="content-guide" {%else %} class="content"{% endif %}>{{ content }}</section>
    
    <footer class="site-footer">
      <ul>
        <li>
          <i class="gray fa fa-github"></i>
          <a href="https://github.com/pixelated-project">
            <span class="username">pixelated-project</span>
          </a>
        </li>
        <li>
          <i class="gray fa fa-envelope"></i>
          <a href="mailto:&#116;&#101;&#097;&#109;&#064;&#112;&#105;&#120;&#101;&#108;&#097;&#116;&#101;&#100;&#045;&#112;&#114;&#111;&#106;&#101;&#099;&#116;&#046;&#111;&#114;&#103;">
            <span class="username">team at pixelated - project . org</span>
          </a>
            <div class="gray">504A 14EA 39DE 1800 B676 9619 FF0E A8AE D649 7991</div>
        </li>
        <li>
          <i class="gray fa fa-comment"></i>
          <a href="irc://irc.freenode.net/pixelated">
            <span class="username">#pixelated at irc.freenode.net</span>
          </a>
        </li>
        <li>
          <i class="gray fa fa-twitter"></i>
          <a href="https://twitter.com/pixelatedteam">
            <span class="username">pixelatedteam</span>
          </a>
        </li>
      </ul>
    </footer>
  </div>

  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/style-guide.js"></script>

</body>
</html>
