/* Color variables */
$highlight: #FF9C00;
$highlight-dark: #FF7902;
$action: #2BA6CB;
$action-dark: #178CA6;
$background-dark: #3E3A37;
$background-gray: #EEE;
$background-light: #FFF;

$warning: #F7E8AF;
$search-highlight: #FFEF29;
$total_count_bg: #C0B9B9;
$error: #D72A25;
$attention: #F6A40A;
$success: #2DAB49;
$top_pane: #EAEAEA;
$secondary_callout: #FF7902;

$page_width: 780px;
