/*
 * Colors
 */
$color-orange: #FF9C00;
$color-orange-medium-dark: #F6A40A;
$color-orange-dark: #FF7902;
$color-orange-dark-transparent: rgba($color-orange-dark, 0.4);

$color-turquoise: #2BA6CB;
$color-turquoise-dark: #178CA6;
$color-turquoise-dark-transparent: rgba($color-turquoise-dark, 0.9);

$color-black: #000;
$color-gray-dark: #3E3A37;
$color-gray-mediumdark: #333333;
$color-gray-medium: #C0B9B9;
$color-gray-light: #EEE;
$color-white: #FFF;

$color-yellow: #FFEF29;
$color-yellow-light: #F7E8AF;

$color-red: #D72A25;
$color-green: #2DAB49;

/*
 * Typography
 */
$font-family-base: "Open Sans","Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$line-height-base: 1.5;

$browser-context: 16;

$font-size-a-base: scut-rem(16px);
$font-size-r-huge: scut-em(40px, 16px);
$font-size-r-title: scut-em(32px, 16px);
$font-size-r-bigger: scut-em(28px, 16px);
$font-size-r-big: scut-em(24px, 16px);
$font-size-r-mediumbig: scut-em(20px, 16px);
$font-size-r-base: scut-em(16px, 16px);
$font-size-r-small: scut-em(14px, 16px);
$font-size-r-tiny: scut-em(12px, 16px);

/*
 * Breakpoints and Media Queries
 */

$screen-md-min:             scut-em(680px);
$screen-lg-min:             scut-em(960px);

$media-screen:              "only screen";
$media-sm:                  "#{$media-screen} and (max-width:#{$screen-md-min})";
$media-md:                  "#{$media-screen} and (min-width:#{$screen-md-min})";
$media-lg:                  "#{$media-screen} and (min-width:#{$screen-lg-min})";
$media-retina:              "#{$media-screen} and (-webkit-min-device-pixel-ratio : 1.5), #{$media-screen} and (-o-min-device-pixel-ratio: 3/2), #{$media-screen} and (min--moz-device-pixel-ratio: 1.5), #{$media-screen} and (min-device-pixel-ratio: 1.5)";

$navbar-height: 50px;
$anchor-offset: ($navbar-height + 40px);

$margin-sm: 5%;
$margin-md: 10%;
$margin-lg: 20%;
